.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 1000;
}

.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  margin: 16px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
}

.logo-icon {
  font-size: 16px;
  font-weight: 700;
}

:host ::ng-deep .ant-menu-dark {
  background: transparent;
}

:host ::ng-deep .ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff;
}

:host ::ng-deep .ant-menu-item a {
  text-decoration: none;
}

:host ::ng-deep .ant-menu-item a:hover {
  color: #1890ff;
}

:host ::ng-deep .ant-menu-item-selected a {
  color: #1890ff;
}