<div class="roles-container">
  <nz-card>
    <div class="header-row">
      <h2>Roles Management</h2>
      <button nz-button nzType="primary" (click)="createRole()">
        <span nz-icon nzType="plus"></span>
        Create Role
      </button>
    </div>

    <div class="search-row">
      <nz-input-group [nzSuffix]="suffixIconSearch" class="search-input">
        <input
          nz-input
          placeholder="Search roles..."
          [(ngModel)]="searchText"
          (keyup.enter)="onSearch()"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search" (click)="onSearch()" style="cursor: pointer"></span>
      </ng-template>
    </div>

    <nz-table
      #rolesTable
      [nzData]="roles"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzFrontPagination]="false"
      (nzPageIndexChange)="onPageChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[10, 20, 50, 100]"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Status</th>
          <th nzWidth="180px">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of rolesTable.data">
          <td>{{ role.name }}</td>
          <td>{{ role.description || '-' }}</td>
          <td>
            <nz-tag *ngIf="role.isSystemRole" nzColor="blue">System</nz-tag>
            <nz-tag *ngIf="!role.isSystemRole" nzColor="default">Custom</nz-tag>
          </td>
          <td>
            <nz-tag *ngIf="role.isActive" nzColor="success">Active</nz-tag>
            <nz-tag *ngIf="!role.isActive" nzColor="default">Inactive</nz-tag>
          </td>
          <td>
            <nz-space>
              <button
                *nzSpaceItem
                nz-button
                nzType="link"
                nzSize="small"
                (click)="editRole(role.id)"
              >
                <span nz-icon nzType="edit"></span>
                Edit
              </button>
              <button
                *nzSpaceItem
                nz-button
                nzType="link"
                nzSize="small"
                nzDanger
                [disabled]="role.isSystemRole"
                (click)="deleteRole(role)"
              >
                <span nz-icon nzType="delete"></span>
                Delete
              </button>
            </nz-space>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
